body {
    font-family: 'Outfit', sans-serif;
    background-image: url("../imagens/fundo-site.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cabecalho .pokebola {
    width: 25px;
    height: 25px;
}